<p>firstsibling works!</p>

<h6> Number of Employees {{ employees.length }} </h6>



<ul class="list-group">
  <li class="list-group-item" *ngFor="let employee of employees"> 

    {{ employee.name }}

    
    <!-- <button type="button" class="btn btn-dark"(click)="emplytransfer(employee)"> view </button>  -->
    <button type="button" class="btn btn-danger"(click)="emplytransfer(employee)">Delete</button>
    <button type="button" class="btn btn-info"(click)="emplytransfer(employee)">View</button>
    <button type="button" class="btn btn-success"(click)="emplytransfer(employee)">Edit</button>
  </li>
</ul>

<pre></pre>
<pre></pre>

<input #myvalue type="text" placeholder ="enter your employee"/>
<br>
<pre></pre>

<!-- <button (click)="addempyee(myvalue.value)">Add employee </button> -->

<button (click)="addempyee(myvalue.value)" type="button" class="btn btn-primary "> Add User </button> 


<pre></pre>










